.App {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
}
.App-header{
  background-color: rgb(5, 54, 69);
  text-align: center;
  color: aliceblue;
}

.foot{
  position: relative;
  bottom: 0;
}